<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/app.css">
		<script src="../Vue/vue.min.js"></script>
		<script src="../Vue/vue-router.min.js"></script>
		<script src="../Vue/node_modules/vue-resource/dist/vue-resource.min.js"></script>
		<title>Gz's Music Player</title>
		<style>
			html {
				font-size: 16px;
			}
			
			body {
				margin: 0;
				padding: 0;
				background-image: url(img/body.png);
			}
			
			.change {
				display: flex;
				flex: 1;
				flex-direction: column;
			}
			
			.pp-enter-active,
			.pp-leave-active {
				transition: 0.5s all ease;
				opacity: 0.7;
				transform: translate3d(-100%, 0, 0);
			}
			
			.pp-enter {
				/*出现动画之前的状态*/
			}
			
			.pp-leave {
				/*离开动画之前的状态*/
			}
			
			button {
				position: relative;
			}
			
			.controlVoice {
				width: 5px;
				height: 110px;
				background: #ccc;
				position: absolute;
				bottom: 100%;
				left: 1.4rem;
			}
			
			.yuan {
				width: 10px;
				height: 10px;
				background: greenyellow;
				position: relative;
				top: 0;
				left: -2.5px;
				border-radius: 50%;
			}
			.myflex{
				display: flex;
				flex:1;
			}
			#music{
				display: flex;
    			flex-direction: column;
    			flex: 1;
			}
		</style>
	</head>

	<body class="page">
		<div id="music">
			<header class="header">
				<router-link to="/home">
					<i class="fa fa-home"></i>
				</router-link>
				<h1><i class="fa fa-music"></i> Songs</h1>
				<router-link to="/Gz">
					<i class="fa fa-list"></i>
				</router-link>
			</header>
			<transition name="pp">
				<keep-alive>
					<router-view></router-view>
				</keep-alive>
			</transition>

		</div>
		<template id="list">
			<div class="myflex">
				<section class="main">
					<div class="list">
						<ol>
							<li v-for="(val,index) in songs">
								<router-link :to="val.id">
									<!--<a href="item.html">-->
									<span class="num">{{index+1}}</span>
									<div class="info">
										<h3 class="title">{{val.title}}</h3>
										<span class="artist">{{val.artist}}</span>
									</div>
									<span class="duration">04:50</span>
									<div class="photo"><img :src="val.photo" alt="李克勤"></div>
									<!--</a>-->
								</router-link>
							</li>
						</ol>
					</div>
			</div>
			</section>
		</template>

		<template id="list1">
			<div class="myflex">
				<section class="main">
					<div class="list">
						<ol>
							<li>
								<a href="item.html">
									<span class="num">003</span>
									<div class="info">
										<h3 class="title">送情郎(2010.12.11 德云二队张一元晚场)</h3>
										<span class="artist">岳云鹏</span>
									</div>
									<span class="duration">04:50</span>
									<div class="photo"><img src="img/岳云鹏.jpg" alt="岳云鹏"></div>
								</a>
							</li>
							<li>
								<a href="item.html">
									<span class="num">003</span>
									<div class="info">
										<h3 class="title">送情郎(2010.12.11 德云二队张一元晚场)</h3>
										<span class="artist">岳云鹏</span>
									</div>
									<span class="duration">04:50</span>
									<div class="photo"><img src="img/岳云鹏.jpg" alt="岳云鹏"></div>
								</a>
							</li>
							<li>
								<a href="item.html">
									<span class="num">003</span>
									<div class="info">
										<h3 class="title">送情郎(2010.12.11 德云二队张一元晚场)</h3>
										<span class="artist">岳云鹏</span>
									</div>
									<span class="duration">04:50</span>
									<div class="photo"><img src="img/岳云鹏.jpg" alt="岳云鹏"></div>
								</a>
							</li>
							<li>
								<a href="item.html">
									<span class="num">003</span>
									<div class="info">
										<h3 class="title">送情郎(2010.12.11 德云二队张一元晚场)</h3>
										<span class="artist">岳云鹏</span>
									</div>
									<span class="duration">04:50</span>
									<div class="photo"><img src="img/岳云鹏.jpg" alt="岳云鹏"></div>
								</a>
							</li>
							<li>
								<a href="item.html">
									<span class="num">003</span>
									<div class="info">
										<h3 class="title">送情郎(2010.12.11 德云二队张一元晚场)</h3>
										<span class="artist">岳云鹏</span>
									</div>
									<span class="duration">04:50</span>
									<div class="photo"><img src="img/岳云鹏.jpg" alt="岳云鹏"></div>
								</a>
							</li>

						</ol>
					</div>
			</div>
			</section>
		</template>
		<template id="Song">

			<section class="main">
				<div class="player">
					<div class="disc">
						<img src="img/李克勤.jpg" alt="李克勤">
						<span class="duration">4:20</span>
					</div>
					<h2 class="title">月半小夜曲</h2>
					<h3 class="artist">李克勤</h3>
					<div class="lyric">
						<p class="previous">" "</p>
						<p class="current">{{lrc[0][1]}}</p>
						<p class="next">{{lrc[1][1]}}</p>
						<!--<div class="lyricDiv">
							<p v-for="(item,index) in lrc">
								{{item[1]}}
							</p>
						</div>-->

					</div>
					<div class="progressbar">
						<progress value="0" max="100"></progress>
						<!--<input type="range" value="10">-->
					</div>
					<div class="controls">
						<button class="active"><i class="fa fa-volume-up" @click.self="changeShow1"></i>
							<div class="controlVoice" v-show="showx">  <!--if是重新生成，数据会被初始化。show是展示隐藏。-->
								<div class="yuan" @touchstart.stop.prevent = "touchStart" @touchmove.stop.prevent = "touchMove" @touchend.stop.prevent = "touchEnd" ></div>
							</div>
							
						</button>

						<button class="active"><i class="fa fa-backward"></i></button>
						<button class="active" @click="play"><i class="fa fa-play" id = "playi"></i></button>
						<button class="active"><i class="fa fa-forward"></i></button>
						<button class="active"><i class="fa fa-random"></i></button>
					</div>
					<audio src="杨坤 - 晚安.mp3" controls="controls">
						Your browser does not support the audio tag.
					</audio>

				</div>
			</section>

		</template>
	</body>

	<script>
		window.onload = function() {

			var home = {
				template: "#list",
				mounted: function() {
					this.get1()
				},
				data: function() {
					return {
						songs: {},
						p: ""
					}
				},
				methods: {
					get1: function() {
						var t = this;
						this.$http.get('./new_file.php').then(function(res) {
							this.songs = JSON.parse(res.data.replace(/^.*?([\[{])/, "$1"));
						}, function() {
							alert("我靠，出错了")
						})
					}
				}
			}
			var home1 = {
				template: "#list1"
			}
			var Gz = {
				template: "<h3>I'm Gz</h3>"
			}
			var h = {
				template: "#Song",
				data: function() {
					return {
						playstate: true,
						songs: true,
						songtime: 0,
						gotime: 0,
						timer: 0,
						startY: 0, //开始位置
						moveLength: 0, //移动距离
						endY: 0, // 结束位置
						moveY: 0, //滑动时的位置
						showx: false,
						lrc: [1, 2, 3]
					}
				},
				computed: {
					playButton: function() {
						return document.querySelector("audio"); //audio标签
					},
					playi: function() {
						return document.querySelector("#playi"); // i图标
					},
					progress: function() {
						return document.querySelector("progress"); // 进度条
					}
				},
				methods: {
					play: function() {
						// var playButton = document.querySelector("audio");
						// var playi =document.querySelector("#playi");
						// console.log(playi)
						this.songtime = this.playButton.duration;
						var lycp = document.querySelector(".current");
						var next = document.querySelector(".next");
						var previous = document.querySelector(".previous");
						var lyricbox = document.querySelector(".lyricDiv"); //歌词盒子
						var lrctop = 0;//盒子移动变量
//						console.log(lycp)
						var _that = this; //  在这个function里面再定义function，这个function的this指向window
						// console.log(this.songtime)
						this.playButton.ontimeupdate = function(e) {
							//console.log(_that.lrc.length);
							for(var i = 0; i < _that.lrc.length; i++) {
								if(this.currentTime > _that.lrc[i][0]) {
//									console.log(lrctop)
//									lrctop += 50;
									if(i > 1) {
										previous.innerHTML = _that.lrc[i - 1][1];
									}

									lycp.innerHTML = _that.lrc[i][1]
									if(i < _that.lrc.length - 1) {
										next.innerHTML = _that.lrc[i + 1][1];
									} else if(i > _that.lrc.length - 2) {
										next.innerHTML = "";
									}
//									lyricbox.style.top = -lrctop+"px";
								}
							}
							//								console.log(1)
						}
						if(this.songs) {
							// this.playButton.src = "杨坤 - 晚安.mp3";
							this.songs = !this.songs;

						}
						if(this.playButton.paused) {
							this.playButton.play();
							this.playi.className = "fa fa-pause";
							this.timer = setInterval(function() { // 再次定义function(setinterval)里面的this指向window
								//console.log(this) //window
								_that.gotime = _that.playButton.currentTime;
								_that.progress.value = Math.round(_that.gotime / _that.songtime * 100);
								//console.log(1)
								//console.log(_that.lrc)
								if(_that.progress.value == 100) {
									this.playi.className = "fa fa-play";
									clearInterval(_that.timer)
								}
							}, 1000)
							// console.log(this)
							// console.log(_that)
						} else {
							this.playButton.pause();
							this.playi.className = "fa fa-play";
							clearInterval(_that.timer)
						}
						// console.log(this) //vue
						// function conso(){
						// con();
						// console.log(this)  // window
						// function con(){
						// console.log(this) // window
						// function con1(){
						// console.log(this) // window
						//								}
						// con1();
						//							}
						//						}
						//								conso();
					},

					changeShow1: function() {
						//console.log(1)
						this.showx = !this.showx;
					},
					touchStart: function(ev) {
						if(ev.touches.length == 1) { //tounches类数组，等于1时表示此时有只有一只手指在触摸屏幕
							this.startY = ev.touches[0].clientY; // 记录开始位置
						}

					},
					touchMove: function(ev) {
						var yuan = document.querySelector(".yuan");
						this.moveY = ev.touches[0].clientY - this.startY + this.endY;
						yuan.style.top = this.moveY + "px";
						if(this.moveY > 100) {
							yuan.style.top = "100px";
							this.moveY = 100;
						} else if(this.moveY < 0) {
							yuan.style.top = "0px";
							this.moveY = 0
						}
						this.playButton.volume = 1 - this.moveY / 100;
					},
					touchEnd: function(ev) {
						this.endY = this.moveY
						//console.log(this.moveY)
						//if(this.endY<0){
						//this.endY = 0;
						//}else if(this.endY>100){
						//this.endY = 100;
						//}
						//console.log(this.endY)
						//this.moveY =  this.endY - this.startY;
					},
					getlrc: function() {
						var _this = this;
						this.$http.get('./lrc.php').then(function(res) {
							var lrctxt = res.data; //获取歌词
							var lrc = lrctxt.split("\n"); // 歌词一行一个数据放入数组
							//console.log(lrc)
							var pattern = /\[\d{2}\:\d{2}\.\d{2}\]/g; //匹配时间的正则
							var result = []; // 结果存放
							while(!pattern.test(lrc[0])) { // 歌词开头有不是歌词的删除掉，得到纯净歌词文件
								lrc = lrc.slice(1)
							}
							lrc[lrc.length - 1].length === 0 ? lrc.pop() : ""; // 删除最后的空白，看歌词文件最后有回车没得
							//console.log(lrc)
							lrc.forEach(function(item, index, arr) {
//								console.log(item)
//								console.log(typeof item)
								var time = item.match(pattern);
								value = item.replace(pattern, "");
								time.forEach(function(v, i, a) {
									var t = v.slice(1, -1).split(":");
									//v.slice(1,-1)--> 从第一个到最后中间的 取到了数字 
									//split(":") 用:参照分割成数组
									result.push([parseInt(t[0], 10) * 60 + parseFloat(t[1]), value]);
								})

							});
							result.sort(function(a, b) {
								return a[0] - b[0];
							});
							//return result;
							//console.log(result)
							// console.log(_this.lrc)
							// console.log(result)
							_this.lrc = result;
						})
					}

				},
				mounted: function() {
					//console.log(1)
					this.getlrc();

					
				}

			}
			var router1 = [{
				path: "/home",
				component: home
			}, {
				path: "/Gz",
				component: home1
			}, {
				path: "/:id",
				component: h
			}];
			var routers1 = new VueRouter({
				routes: router1
			})
			new Vue({ //放最后 妈蛋 ，弄半天
				el: "#music",
				router: routers1,
				data: {
					m: 123

				},
				methods: {

				}
			})
		}
	</script>

</html>