<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/app.css">
		<script src="../Vue/vue.min.js"></script>
		<script src="../Vue/vue-router.min.js"></script>
		<script src="../Vue/node_modules/vue-resource/dist/vue-resource.min.js"></script>
		<title>Gz's Music Player</title>
		<style>
			html {
				font-size: 16px;
			}
			
			body {
				margin: 0;
				padding: 0;
				background-image: url(img/body.png);
			}
			
			.change {
				display: flex;
				flex: 1;
				flex-direction: column;
			}
			/*.pp-enter-active,
			.pp-leave-active {
				transition: 0.5s all ease;
				opacity: 0.7;
				transform: translate3d(-100%, 0, 0);
			}*/
			
			.pp-enter {
				/*出现动画之前的状态*/
			}
			
			.pp-leave {
				/*离开动画之前的状态*/
			}
			
			.slide-left-enter,
			.slide-right-leave-active {
				opacity: 0;
				-webkit-transform: translate3d(100%, 0, 0);
				transform: translate3d(100%, 0, -50%);
			}
			
			.slide-left-leave-active,
			.slide-right-enter {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, -50%);
			}
			
			button {
				position: relative;
			}
			
			.controlVoice {
				width: 5px;
				height: 110px;
				background: #ccc;
				position: absolute;
				bottom: 100%;
				left: 1.4rem;
			}
			
			.yuan {
				width: 10px;
				height: 10px;
				background: greenyellow;
				position: relative;
				top: 0;
				left: -2.5px;
				border-radius: 50%;
			}
			
			.myflex {
				display: flex;
				flex: 1;
			}
			
			#music {
				display: flex;
				flex-direction: column;
				flex: 1;
			}
			
			.Router {
				transition: all .8s ease;
				display: flex;
			}
		</style>
	</head>

	<body class="page">
		<div id="music">
			<header class="header">
				<router-link to="/home">
					<i class="fa fa-home"></i>
				</router-link>
				<h1><i class="fa fa-music"></i> Songs</h1>
				<router-link to="/Gz">
					<i class="fa fa-list"></i>
				</router-link>
			</header>
			<keep-alive>
				<transition :name="transitionName">
					<keep-alive>
						<router-view class="Router"></router-view>
					</keep-alive>
				</transition>
			</keep-alive>
			<audio>
				Your browser does not support the audio tag.
			</audio>
		</div>
		<template id="list">
			<div class="myflex">
				<section class="main">
					<div class="list">
						<ol>
							<li v-for="(val,index) in songs">
								<router-link :to="val.id">
									<!--<a href="item.html">-->
									<span class="num">{{index+1}}</span>
									<div class="info">
										<h3 class="title">{{val.title}}</h3>
										<span class="artist">{{val.artist}}</span>
									</div>
									<span class="duration">04:50</span>
									<div class="photo"><img :src="val.photo" alt="李克勤"></div>
									<!--</a>-->
								</router-link>
							</li>
						</ol>
					</div>
			</div>
			</section>
		</template>

		<template id="intro">
			<div class="myflex">
				<section class="main">
					<div class="list" style="text-align: center;padding: 10px 20px;">
						<p>用Vue构建的手机端WebApp,用于学习交流。没有用脚手架，界面也比较单一</p>
						<p>嘿嘿嘿</p>
						<p>Gz</p>
					</div>
				</section>
			</div>
		</template>
		<template id="Song">
			<section class="main">
				<div class="player">
					<div class="disc">
						<img :src="nowsong.photo" alt="李克勤">
						<span class="duration">{{songtime | changTime}}</span>
					</div>
					<h2 class="title">{{nowsong.title}}</h2>
					<h3 class="artist">{{nowsong.artist}}</h3>
					<div class="lyric">
						<p class="previous">" "</p>
						<p class="current">{{lrc[0][1]}}</p>
						<p class="next">{{lrc[1][1]}}</p>
						<!--<div class="lyricDiv">
							<p v-for="(item,index) in lrc">
								{{item[1]}}
							</p>
						</div>-->

					</div>
					<div class="progressbar">
						<progress value="0" max="100" @click="changtime()"></progress>
						<div class="point" @touchstart.stop.prevent="touchStart" @touchmove.stop.prevent="touchMove" @touchend.stop.prevent="touchEnd"></div>
					</div>
					<div class="controls">
						<button class="active"><i class="fa fa-volume-up" @click.self="changeShow1"></i>
							<div class="controlVoice" v-show="showx">  <!--if是重新生成，数据会被初始化。show是展示隐藏。-->
								<div class="yuan" @touchstart.stop.prevent = "touchStart" @touchmove.stop.prevent = "touchMove" @touchend.stop.prevent = "touchEnd" ></div>
							</div>
						</button>
						<button class="active" @click="last"><i class="fa fa-backward"></i></button>
						<button class="active" @click="play"><i class="fa fa-play" id = "playi"></i></button>
						<button class="active" @click="next"><i class="fa fa-forward"></i></button>
						<button class="active"><i class="fa fa-random"></i></button>
					</div>

				</div>
				<div class="err" style="display: none;">没有了</div>
			</section>

		</template>
	</body>

	<script>
		window.onload = function() {
			//var Event = new Vue();
			var home = {
				template: "#list",
				mounted: function() {
					this.get1()
				},
				data: function() {
					return {
						songs: {}
					}
				},
				methods: {
					get1: function() {
						this.$http.get('./new_file.php').then(function(res) {
							this.songs = JSON.parse(res.data.replace(/^.*?([\[{])/, "$1"));
						}, function() {
							alert("我靠，出错了")
						})
					}
				}
			}
			var intro = {
				template: "#intro"
			}
			var h = {
				template: "#Song",
				data: function() {
					return {
						songtime: 0, //歌曲时间
						gotime: 0,  //歌曲已播放时间
						timer: 0,   // 歌词，进度条定时器
						startY: 0, //声音开始Y轴位置
						endY: 0, // 声音滑动了多少距离
						moveY: 0, //声音滑动了多少距离
						showx: false, // 控制声音面板的显示
						lrc: [1, 2, 3], //歌词
						songID: 1, // 当前歌曲播放ID
						allsongs: {}, // 所有歌曲数据
						nowsong: "", //现在播放的歌曲
						lrcaddress: "", //歌词地址
						now: "", // 现在播放的歌曲
						pointStartX: 0, //进度条开始的X
						pointEndX: 0,
						pointMoveX: 0,
						routerID: "" // router的ID


					}
				},
				computed: {
					playButton: function() {
						return document.querySelector("audio"); //audio标签
					},
					playi: function() {
						return document.querySelector("#playi"); // i图标
					},
					progress: function() {
						return document.querySelector("progress"); // 进度条
					},
					point: function() {
						return document.querySelector(".point"); // 进度点
					},
					PointWidth: function() {
						return window.screen.availWidth - this.point.offsetWidth;
					}

				},
				watch: {
					'$route' (to, from) {
						clearInterval(this.timer);
						// 对路由变化作出响应...
						if(to.params.id) {
							clearInterval(this.timer);
							var _this = this;
							this.songID = parseInt(to.params.id);
							if(this.songID != this.routerID) {
								clearInterval(this.timer);
								this.nowsong = this.allsongs[this.songID - 1];
								this.playButton.src = this.nowsong.songname;
								this.lrcaddress = this.nowsong.lrc;
								this.getlrc();
							}
							this.now = this.songID - 1;
							this.routerID = this.songID;
							//console.log(this.now);
							//console.log(this.routerID);
							// this.changtime();
							this.timer = setInterval(function() {
								_this.gotime = _this.playButton.currentTime;
								_this.progress.value = Math.round(_this.gotime / _this.songtime * 100);
								_this.point.style.left = _this.PointWidth * _this.progress.value / 100 + "px";
								_this.pointEndX = _this.PointWidth * _this.progress.value / 100;
								console.log(11)
								if(_this.progress.value == 100) {
									_this.playi.className = "fa fa-play";
									_this.next();
									clearInterval(_this.timer);
								}
							}, 1000)

						}

					}
				},
				methods: {
					play: function() {
						var _that = this; //  在这个function里面再定义function，这个function的this指向window
						// this.playButton.ontimeupdate = function(e) {
						// for(var i = 0; i < _that.lrc.length; i++) {
						// if(this.currentTime > _that.lrc[i][0]) {
						// if(i > 1) {
						// previous.innerHTML = _that.lrc[i - 1][1];
						//									}
						// lycp.innerHTML = _that.lrc[i][1]
						// if(i < _that.lrc.length - 1) {
						// next.innerHTML = _that.lrc[i + 1][1];
						// } else if(i > _that.lrc.length - 2) {
						// next.innerHTML = "";
						// }
						// }
						// }
						// }
						if(this.playButton.paused) {
							// this.playButton.play();
							// this.playi.className = "fa fa-pause";
							// this.timer = setInterval(function() { // 再次定义function(setinterval)里面的this指向window
							// //console.log(this) //window
							// _that.gotime = _that.playButton.currentTime;
							// _that.progress.value = Math.round(_that.gotime / _that.songtime * 100);
							// _that.point.style.left = _that.PointWidth*_that.progress.value/100 +"px";
							// _that.pointEndX = _that.PointWidth*_that.progress.value/100;
							// console.log(1)
							// if(_that.progress.value == 100) {
							// this.playi.className = "fa fa-play";
							// _that.next();
							// clearInterval(_that.timer);
							// }
							// }, 1000)
							this.thingPlay();
						} else {
							// this.playButton.pause();
							// this.playi.className = "fa fa-play";
							// clearInterval(_that.timer)
							this.thingPause();
						}
						// console.log(this) //vue
						// function conso(){
						// con();
						// console.log(this)  // window
						// function con(){
						// console.log(this) // window
						// function con1(){
						// console.log(this) // window
						// }
						// con1();
						// }
						// }
						//conso();
					},

					changeShow1: function() { // 控制调节音量的显示按钮
						//console.log(1)
						this.showx = !this.showx;
					},
					touchStart: function(ev) {
						var voice = document.querySelector(".yuan");
						if(ev.target == voice) {
							if(ev.touches.length == 1) { //tounches类数组，等于1时表示此时有只有一只手指在触摸屏幕
								this.startY = ev.touches[0].clientY; // 记录开始位置
							}
							// console.log(ev)
						} else {
							this.playButton.pause();
							this.playi.className = "fa fa-play";
							clearInterval(this.timer)
							if(ev.touches.length == 1) { //tounches类数组，等于1时表示此时有只有一只手指在触摸屏幕
								this.pointStartX = ev.touches[0].clientX; // 记录开始位置
							}
						}

					},
					touchMove: function(ev) {
						var voice = document.querySelector(".yuan");
						// var point = document.querySelector(".point");
						// var PointWidth = window.screen.availWidth - point.offsetWidth;
						if(ev.target == voice) {
							var yuan = document.querySelector(".yuan");
							this.moveY = ev.touches[0].clientY - this.startY + this.endY;
							yuan.style.top = this.moveY + "px";
							if(this.moveY > 100) {
								yuan.style.top = "100px";
								this.moveY = 100;
							} else if(this.moveY < 0) {
								yuan.style.top = "0px";
								this.moveY = 0
							}
							this.playButton.volume = 1 - this.moveY / 100;
						} else {
							this.pointMoveX = ev.touches[0].clientX - this.pointStartX + this.pointEndX;
							this.point.style.left = this.pointMoveX + "px";
							var length = this.pointMoveX / this.PointWidth;
							if(this.pointMoveX > this.PointWidth) {  
								this.point.style.left = this.PointWidth + "px";
								this.pointMoveX = this.PointWidth;
							} else if(this.pointMoveX < 0) {
								this.point.style.left = "0px";
								this.pointMoveX = 0
							}
							this.playButton.currentTime = length * this.songtime;
							this.progress.value = this.playButton.currentTime / this.songtime * 100;
							// console.log("end:"+this.pointEndX);
							// console.log("move:"+this.pointMoveX);
						}

					},
					touchEnd: function(ev) {
						var voice = document.querySelector(".yuan");
						if(ev.target == voice) {
							this.endY = this.moveY
						} else {
							// _this.playButton.play();
							// _this.playi.className = "fa fa-pause";
							// _this.timer = setInterval(function() { 
							//_this.gotime = _this.playButton.currentTime;
							//								_this.progress.value = Math.round(_this.gotime / _this.songtime * 100);
							// _this.point.style.left = _this.PointWidth*_this.progress.value/100 +"px";
							// _this.pointEndX = _this.PointWidth*_this.progress.value/100;
							// console.log(1)
							// if(_this.progress.value == 100) {
							// _this.playi.className = "fa fa-play";
							// _this.next();
							// clearInterval(_this.timer);
							// }
							// }, 1000)

							this.thingPlay();
							// console.log(this)
							// console.log(_that)
							this.pointEndX = this.pointMoveX;
						}

					},

					getlrc: function() {
						var _this = this;
						//console.log(this.lrcaddress)
						this.$http.get(this.lrcaddress).then(function(res) {
							var lrctxt = res.data; //获取歌词
							var lrc = lrctxt.split("\n"); // 歌词一行一个数据放入数组
							//console.log(lrc)
							var pattern = /\[\d{2}\:\d{2}\.\d{2}\]/g; //匹配时间的正则
							var result = []; // 结果存放
							while(!pattern.test(lrc[0])) { // 歌词开头有不是歌词的删除掉，得到纯净歌词文件
								lrc = lrc.slice(1)
							}
							lrc[lrc.length - 1].length === 0 ? lrc.pop() : ""; // 删除最后的空白，看歌词文件最后有回车没得
							//console.log(lrc)
							lrc.forEach(function(item, index, arr) {
								// console.log(item)
								// console.log(typeof item)
								var time = item.match(pattern);
								value = item.replace(pattern, "");
								time.forEach(function(v, i, a) {
									var t = v.slice(1, -1).split(":");
									//v.slice(1,-1)--> 从第一个到最后中间的 取到了数字 
									//split(":") 用:参照分割成数组
									result.push([parseInt(t[0], 10) * 60 + parseFloat(t[1]), value]);
								})

							});
							result.sort(function(a, b) {
								return a[0] - b[0];
							});
							//return result;
							//console.log(result)
							// console.log(_this.lrc)
							// console.log(result)
							_this.lrc = result;

							// console.log(_this.lrc)
						})
					},
					next: function() {

						var xx = document.querySelector(".err");
						if(this.now >= this.allsongs.length - 1) {
							xx.style.display = "block";
							setTimeout(function() {
								xx.style.display = "none";
							}, 2000)

							return;
						}
						clearInterval(this.timer);
						this.now++;
						this.routerID++;
						this.nowsong = this.allsongs[this.now];
						this.playButton.src = this.nowsong.songname;
						this.lrcaddress = this.nowsong.lrc;
						this.getlrc();
					},
					last: function() {

						var xx = document.querySelector(".err");
						if(this.now <= 0) {
							//							alert("最后一首啦");
							xx.style.display = "block";
							setTimeout(function() {
								xx.style.display = "none";
							}, 2000)
							return;
						}
						clearInterval(this.timer);
						this.now--;
						this.routerID--;
						this.nowsong = this.allsongs[this.now];
						this.playButton.src = this.nowsong.songname;
						this.lrcaddress = this.nowsong.lrc;
						this.getlrc();
					},
					changtime: function() {
						var clientX = event.clientX;
						var cx = clientX / this.progress.offsetWidth;
						this.playButton.currentTime = cx * this.songtime;
						this.progress.value = this.playButton.currentTime / this.songtime * 100;
						this.pointEndX = cx * this.PointWidth;
						this.point.style.left = this.pointEndX + "px";
					},
					thingPlay: function() {
						var _this = this;
						this.playButton.play();
						this.playi.className = "fa fa-pause";
						clearInterval(this.timer);
						this.timer = setInterval(function() {
							_this.gotime = _this.playButton.currentTime;
							_this.progress.value = Math.round(_this.gotime / _this.songtime * 100);
							_this.point.style.left = _this.PointWidth * _this.progress.value / 100 + "px";
							_this.pointEndX = _this.PointWidth * _this.progress.value / 100;
							console.log(1)
							if(_this.progress.value == 100) {
								_this.playi.className = "fa fa-play";
								_this.next();
								clearInterval(_this.timer);
							}
						}, 1000)
					},
					thingPause: function() {
						this.playButton.pause();
						this.playi.className = "fa fa-play";
						clearInterval(this.timer)
					}

				},
				mounted: function() {
					var _this = this;
					this.$http.get('./new_file.php').then(function(res) {
						_this.allsongs = JSON.parse(res.data.replace(/^.*?([\[{])/, "$1"));
						var x = parseInt(this.$route.params.id);
						_this.nowsong = _this.allsongs[x - 1];
						this.playButton.src = this.nowsong.songname;
						this.lrcaddress = _this.nowsong.lrc;
						this.routerID = x;
						this.now = x - 1;
						//						console.log(this.now)
						// console.log(this.lrcaddress)
						this.getlrc();
						// console.log(t)
						// console.log(_this.allsongs);
						// console.log(_this.nowsong);
						// console.log(this.$route.params.id);
					}, function() {
						alert("我靠，出错了")
					});
					//Event.$on("songsong", function(data) {
					//console.log("go" + data)
					// console.log(this.lrcaddress);
					// console.log(1)
					// })
					// var point = document.querySelector(".point");
					// var PointWidth = window.screen.availWidth - point.offsetWidth;
					// console.log(PointWidth);
					this.playButton.onloadedmetadata = function() {
						_this.songtime = _this.playButton.duration;
						//						console.log(_this.songtime);
						_this.pointEndX = 0;
						_this.pointMoveX = 0;
						_this.point.style.left = "0px";
						_this.progress.value = "0";
						if(_this.playButton.paused) {
							// _this.playButton.play();
							// _this.playButton.autoplay = "autoplay";
							// _this.playi.className = "fa fa-pause";
							// _this.timer = setInterval(function() { // 再次定义function(setinterval)里面的this指向window
							// //console.log(this) //window
							// _this.gotime = _this.playButton.currentTime;
							// _this.progress.value = Math.round(_this.gotime / _this.songtime * 100);
							// _this.point.style.left = _this.PointWidth*_this.progress.value/100 +"px";
							// _this.pointEndX = _this.PointWidth*_this.progress.value/100;
							// console.log(2)
							// console.log(_that.lrc)
							//console.log(1)
							// if(_this.progress.value == 100) {
							// _this.playi.className = "fa fa-play";
							// _this.next();
							// clearInterval(_this.timer);
							// }
							// }, 1000)
							_this.thingPlay();
							// console.log(this)
							// console.log(_that)
						} else {
							// _this.playButton.pause();
							// _this.playi.className = "fa fa-play";
							// clearInterval(_this.timer)
							_this.thingPause();
						}
					}
					var _that = this;
					var lycp = document.querySelector(".current");
					var next = document.querySelector(".next");
					var previous = document.querySelector(".previous");
					// var lyricbox = document.querySelector(".lyricDiv"); //歌词盒子
					// var lrctop = 0; //盒子移动变量
					this.playButton.ontimeupdate = function(e) {
						//console.log(_that.lrc.length);
						for(var i = 0; i < _that.lrc.length; i++) {
							if(this.currentTime > _that.lrc[i][0]) {
								//console.log(lrctop)
								//lrctop += 50;
								if(i > 1) {
									previous.innerHTML = _that.lrc[i - 1][1];
								}

								lycp.innerHTML = _that.lrc[i][1]
								if(i < _that.lrc.length - 1) {
									next.innerHTML = _that.lrc[i + 1][1];
								} else if(i > _that.lrc.length - 2) {
									next.innerHTML = "";
								}
								//lyricbox.style.top = -lrctop+"px";
							}
						}
						//console.log(1)
					}

				}

			}
			var router1 = [{
				path: "/home",
				component: home
			}, {
				path: "/Gz",
				component: intro
			}, {
				path: "/:id",
				component: h
			}];
			var routers1 = new VueRouter({
				routes: router1
			})
			Vue.filter('changTime', function(a) {
				if(!a) {
					return '00:00'
				}
				//				value = value.toString()
				//返回处理后的值
				var hh = parseInt(a / 3600);
				if(hh < 10) hh = "0" + hh;
				var mm = parseInt((a - hh * 3600) / 60);
				if(mm < 10) mm = "0" + mm;
				var ss = parseInt((a - hh * 3600) % 60);
				if(ss < 10) ss = "0" + ss;
				var length = mm + ":" + ss;
				return length;

			})
			new Vue({ //放最后 妈蛋 ，弄半天
				el: "#music",
				router: routers1,
				data: {
					m: "",
					transitionName: "slide-left"
				},
				methods: {

				},
				watch: {
					'$route' (to, from) {
						if(to.path == '/home') {
							this.transitionName = 'slide-right';
						} else {
							this.transitionName = 'slide-left';
						}
					}
				}
			})
		}
	</script>

</html>